html,
body,
* {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #ffba08;
}

.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  border: 8px;
  border-color: black;
}
.child {
  border: 3px solid black;
  width: 400px;
  height: 400px;
  text-align: center;
  box-shadow: gray 10px 10px;
  background-color: white;
  padding: 15px;
  margin: 15px;
}

.subhead {
  background-color: white;
  font-size: 20px;
}

.header {
  font-size: 40px;
  font-style: italic;
  text-align: center;
  background-color: gray;
  color: darkorange;
  font-family: "Fjalla One", sans-serif;
  padding: 15px;
  margin: 15px;
}

.sub {
  font-size: 15px;
  background-color: white;
}

.bleh {
  font-size: 10px;
  background-color: white;
  padding-top: 70px;
}

.image2 {
  height: 110px;
  width: 80px;
}

.child:hover {
  transition: background-color 0.5s;
  background-color: #e9ecef;
  transform: scale(1.25);
}

.header:hover {
  transition: ease-out .15s;
  transform: scale(1.25);
  opacity: .85;
}

.quotes:hover {
  animation: wiggle 1s ease-in alternate infinite;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.image:hover {
  transition: ease-out .15s;
  transform: scale(1.0);
  outline: 1rem solid black;
}

.image2:hover {
  transform: scale(1.1);
  outline: 1rem solid black;
  animation: spin 1s;
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(720deg);
  }
}
.sub {
  padding-top: 5px;
}

.icon {
  position: absolute;
  animation: 4s linear 0s infinite alternate bounce;
  background-color: none;
  height: 100px;
  width: 100px;
  padding: 50px auto;
  margin: 50px auto;
}
.icon.hover {
  position: absolute;
  animation: 4s linear 0s infinite alternate bounce;
  animation: spin 1s infinite;
}
@keyframes bounce {
0% {
  transform: translateX(93vw);
100% {
  transform: translateX(-93vw);
}
}
@media  (min-width: 300px) and (max-width: 844px) { 
  .child{
    width: 77px;
    length: 77px;
  }
}