html,
body,
* {
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
  font-size: 62.5%;
  border: 1px;
  border-color: black;
  align-content: center;
}
.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  border: 8px;
  border-color: black;
}
.child {
  border: 3px solid black;
  width: 400px;
  height: 400px;
}
.header {
  font-size: 40px;
  text-align: center;
}
