html,
body,
* {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #ffba08;
}
.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  border: 8px;
  border-color: black;
}
.child {
  border: 3px solid black;
  width: 400px;
  height: 400px;
  text-align: center;
  box-shadow: gray 10px 10px;
  background-color: white;
  padding: 15px;
  margin: 15px;
}

.subhead {
  background-color: white;
  font-size: 20px;
}

.header {
  font-size: 40px;
  font-style: italic;
  text-align: center;
  background-color: gray;
  color: darkorange;
  font-family: "Fjalla One", sans-serif;
  padding: 15px;
  margin: 15px;
}

.sub {
  font-size: 15px;
  background-color: white;
}
